.style {
  height: 30px;
  width: 60px;
  background-color: rgb(202, 223, 14);
}
.margin20px {
  margin: 20px;
}
.margin30px {
  margin: 30px 0 30px 0;
}
.margin60px {
  margin: 60px 0 60px 0;
}
.parent {
  margin: 10px;
  background-color: rgb(233, 225, 240);
  max-width: 200px;
  min-width: 60px;
  max-height: 100px;
}
.child {
  margin: 60px;
}
